<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe 
    src="//player.bilibili.com/player.html?bvid={{ .Get "bvid" }}&page={{ .Get "page" | default "1" }}&autoplay={{ .Get "autoplay" | default "0" }}&high_quality=1&danmaku=1&isOutside=true" 
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" 
    scrolling="no" 
    border="0" 
    frameborder="no" 
    framespacing="0" 
    allowfullscreen="true">
  </iframe>
</div>