{{- $limit := .Get "limit" | default 8 -}}
{{- $pages := first $limit .Page.Site.Pages -}}

<div class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose" style="--hextra-cards-grid-cols: 3;">
  {{- range $pages -}}
  {{- $link := .RelPermalink -}}
  {{- $title := .Title -}}
  {{- $subtitle := .Summary | plainify | truncate 100 -}}
  {{- $date := .Date.Format "2006-01-02" -}}
  <a class="hextra-card hx:group hx:flex hx:flex-col hx:justify-start hx:overflow-hidden hx:rounded-lg hx:border hx:border-gray-200 hx:text-current hx:no-underline hx:dark:shadow-none hx:hover:shadow-gray-100 hx:dark:hover:shadow-none hx:shadow-gray-100 hx:active:shadow-sm hx:active:shadow-gray-200 hx:transition-all hx:duration-200 hx:hover:border-gray-300 hx:bg-transparent hx:shadow-xs hx:dark:border-neutral-800 hx:hover:bg-slate-50 hx:hover:shadow-md hx:dark:hover:border-neutral-700 hx:dark:hover:bg-neutral-900"
    href="{{ $link }}">
    <div class="hx:flex hx:flex-col hx:h-full hx:p-6">
      <span
        class="hextra-card-icon hx:flex hx:font-bold hx:text-xl hx:items-start hx:mb-4 hx:text-gray-700 hx:hover:text-gray-900 hx:dark:text-neutral-200 hx:dark:hover:text-neutral-50">
        {{- $title -}}
      </span>

      {{- with $subtitle -}}
      <div
        class="hextra-card-subtitle hx:line-clamp-3 hx:text-base hx:font-normal hx:text-gray-500 hx:dark:text-gray-400 hx:mb-6 hx:flex-grow">
        {{ . }}</div>
      {{- end -}}

      <hr class="hx:border-t hx:border-gray-200 hx:dark:border-neutral-800 hx:mb-4" />

      <div class="hextra-card-date hx:text-sm hx:text-gray-500 hx:dark:text-gray-400">
        {{- $date -}}
      </div>
    </div>
  </a>
  {{- end -}}
</div>